{% extends "base/base.html"%} {% block content %}

<div class="row">
  <div class="col-md-12>
    {% if user == 'HR'%}
    <h2 class="display-3">Jobs created</h2>
    {% for val in jobs_created %}
    <div class="jobs_applied">
      <div class="row">
        <div class="col-md-8">
          <div class="card" style="width: 50rem">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'jobmanage:job-det' val.id %}">{{val.title}}</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">{{val.job_type}}</h6>
              <a href="{% url 'jobmanage:update-post' val.id %}"
                ><button class="btn btn-primary">Update</button></a
              >
              <a href="{% url 'jobmanage:manage-jobs' %}?job={{val.id}}"><button class="btn btn-primary">Delete</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}

    <h2 class="display-3">Jobs applied</h2>
    {% for val in jobs_applied %}
    <div class="jobs_applied">
      <div class="row">
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <a href="{% url 'jobmanage:job-det' val.job_post.id %}"><h5 class="card-title">{{val.job_post.title}}</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">{{val.job_post.cmpny_name}}</h6>
              {% if val.status == 'selected' %}
              <button class="btn btn-success">{{val.status}}</button>
              {% elif val.status == 'onhold' %}
              <button class="btn btn-primary">{{val.status}}</button>
              {% else %}
              <button class="btn btn-danger">{{val.status}}</button>
              {% endif %}
              <small>Apply date : {{val.apply_date}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
    
    
    
    
    
    {% endif %}
  </div>
</div>

{% endblock %}
