
{% extends "base/base.html" %} 
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'manageusers/application_form.css' %}">
{% endblock %}

{% block content %}


<div class="wrap">
  
 
  <!------ Include the above in your HEAD tag ---------->

 
  <div class="container">
   
    {% if type == 'updatedetail' %}

    <div class="card bg-light">
      <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Update details</h4>

        <form enctype="multipart/form-data" action="" method="POST" >
          {% csrf_token %}

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">first name</label>
              <input  name="first_name" type="text" class="form-control"  placeholder="first name" value="{{request.user.first_name}}">
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">last name</label>
              <input name="last_name" type="text" class="form-control"  placeholder="last name" value="{{request.user.last_name}}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="last_name">Phone number</label>
              <input name="contact_no" type="tel" class="form-control" id="last_name" placeholder="Phone number" value="{{request.user.contact_no}}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="date">Date of birth</label>
              {{request.user.date_of_birth}}
              <input name="date_of_birth" type="date" class="form-control" id="date" value="{{request.user.date_of_birth|date:'d/m/Y'}}">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Profile pic</span>
                </div>
                <div class="custom-file">
                  <input  name="photo" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" {% if prof.photo %} value="{{prof.get_photo_url}}" {% endif %}>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>


            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Resume</span>
                </div>
                <div class="custom-file">
                  <input name="resume" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" value="{{prof.get_resume_url}}">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>


            </div>
          </div>
    
          <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
              <input name="gender" value="Male" type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input name="gender" type="radio" value="Female" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label name="gender" class="custom-control-label" for="customRadioInline2">Female</label>
            </div>
          </div>
          {% for address in request.user.address_set.all %}
          <div class="form-group">
            <label for="inputAddress2">Address {{forloop.counter}}</label>
            <input name="address_street" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="{{address.street}}">
          </div>
          
          {% endfor %}

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCity">City</label>
              <input name="city" type="text" class="form-control" id="inputCity" value="{{request.user.address_set.all.0.city}}">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select name="state" id="inputState" class="form-control">
                <option value="{{request.user.address_set.all.0.state}}" selected>udaipur</option>
                <option value="West bengal">West bengal</option>
                <option value="jammu and kashmir">jammu and kashmir</option>
                <option value="haryana">haryana</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="inputZip">Zip</label>
              <input name="zip_code" type="text" class="form-control" id="inputZip" value="{{request.user.address_set.all.0.zip_code}}">
            </div>
          </div>
          

          <button type="submit" class="btn btn-primary">Update details</button>
          <!-- form-group// -->
        </form>
      </article>
    </div>
    {% elif type == 'updateeducation' %}

    <div class="card bg-light card_app">
      <article class="card-body mx-auto" style="max-width: 400px">
        <h4 class="card-title mt-3 text-center">Update Education details</h4>

        <form action="" method="POST">
          {% csrf_token %}

          <div class="form-row">
            <div class="col-md-6">

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input
                  name="degree_name"
                  class="form-control"
                  placeholder="certificate_degree_name"
                  type="text"
                  value="{{applicant.certificate_degree_name}}"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input
                  name="major"
                  class="form-control"
                  placeholder="major"
                  type="text"
                  value="{{applicant.major}}"
                />
              </div>

            </div>
          </div>
          
         <div class="form-row">
           <div class="col-md-10">

            <label for="ins_university_name"> Institute name</label>
            <div class="form-group input-group">
            
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
  
              <input
                name="ins_university_name"
                class="form-control"
                placeholder="institute_university_name"
                type="text"
                value="{{applicant.institute_university_name}}"
              />
            </div>
           </div>
         </div>

         <div class="form-row my-3">
          <div class="col-md-6">
            <label for="starting_date">starting_date</label>
            <input
              name="starting_date"
              class="form-control"
              placeholder="starting_date"
              type="date"
              value="{{applicant.starting_date}}"
            />
          </div>
          <div class="col-md-6">
            <label for="completion_date">completion_date</label>
            <input
              name="completion_date"
              class="form-control"
              placeholder="completion_date"
              type="date"
              value="{{applicant.completion_date}}"
            />
          </div>
         </div>

         <button type="button" class="btn btn-secondary my-2 add_ins">Add institute <i class="fas fa-plus"></i></button>


         <div class="row">
           <div class="col-md-8">
            <h3>Skills</h3>
           </div>
         </div>
         <div class="form-row">
           
           {% for skills in seeker_skills %}
           <div class="col-md-4">
            <button class="btn btn-info mx-2">{{skills.skill_name}}<span class="badge badge-dark ">{{skills.skill_level}}</span></button><span><i class="fas fa-trash-alt delete_skill" data-attr={{skills.id}} style="cursor: pointer;"></i></span>
           </div>
           {% endfor %}
           
         </div>

          <!-- Skill Modal -->
          <div class="modal fade" id="skill_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content save_contain">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Add skills</h5>
                </div>
                <div class="modal-body">
                  <div class="form-row main-contain">
                    <div class="col-md-5">
          
                     <label for="ins_university_name"> Skill</label>
                     <div class="form-group input-group">
           
                       <input name="skill_name" type="text" class="form-control skill_name" placeholder="skill name">
                     </div>
                    </div>
          
                    <div class="col-md-5">
                      <label for="ins_university_name"> Skill level</label>
                      <select name="skill_level" class="custom-select">
                        <option selected value="beginner">Beginner</option>
                        <option value="intermediate">intermediate</option>
                        <option value="advance">advance</option>
                      </select>
                    </div>
                    <div class="colmd-2">
                      <a href="" class="btn btn-secondary add_skill_grp"><i class="fas fa-plus"></i></span></a>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary save_details" data-user = {{request.user}} >Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- add_skill_grp -->

        <div class="form-row my-3">
          <div class="col-md-8">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#skill_model" >add skill <span><i class="fas fa-plus"></i></span></button>
          </div>
        </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update profile
            </button>
          </div>
          <!-- form-group// -->
        </form>
      </article>
    </div>

    {% else %}


    

    <div class="card bg-light">
      <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Update Experience details</h4>

        <form action="" method="POST">
          {% csrf_token %}
        

          <div class="form-row">
            <div class="col-md-6">
              <label for="job_title">Job title</label>
                <div class="form-group input-group">
                
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>

                  <input
                    name="job_title"
                    class="form-control"
                    placeholder="job title"
                    type="text"
                    value="{{applicant.job_title}}"
                  />

            </div>
            
          
          </div>
          <div class="col-md-6">
            <label for="company_name"> Company name </label>
              <div class="form-group input-group">
              
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>

                <input
                  name="company_name"
                  class="form-control"
                  placeholder="major"
                  type="text"
                  value="{{applicant.company_name}}"
                />

          </div>
        </div>
          
          </div>
        
          <div class="form-row">
            <div class="col-md-8">
              <div class="form-group input-group">
                   
                <div class="form-group">
                    <label for="description">Job description</label>
                    <textarea
                        id="my-textarea"
                        class="form-control"
                        name="description"
                        rows="3"
                    >
                    {{applicant.description}}
                  </textarea>
                </div>
              </div>

            </div>
          </div>
          

          <div class="form-row my-3">
            <div class="col-md-6">
              <label for="starting_date">starting_date</label>
              <input
                name="starting_date"
                class="form-control"
                placeholder="starting_date"
                type="date"
                value="{{applicant.starting_date}}"
              />
            </div>
            <div class="col-md-6">
  
  
              <label for="completion_date">completion_date</label>
              <input
                name="completion_date"
                class="form-control"
                placeholder="completion_date"
                type="date"
                value="{{applicant.completion_date}}"
              />
            </div>
           </div>
           <div class="form-row">
             <div class="col-md-4">
               <label for="total_exp">total experience in years</label>
               <input type="text" class="form-control">
             </div>
           </div>

           <button type="button" class="btn btn-secondary my-2 add_ins">Add company <i class="fas fa-plus"></i></button>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update profile
            </button>
          </div>
          <!-- form-group// -->
        </form>
      </article>
    </div>

    {% endif %}
    <!-- card.// -->
  </div>
  <!--container end.//-->
</div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/update_details.js' %}"></script>
 
{% endblock %}
