{% extends "base/base.html" %} {%load static%} {% block css%}

<link rel="stylesheet" href="{% static 'manageusers/dashboard.css' %}" />
{%endblock%} 


{% block content %}

<h3 class="display-3">Hi! {{user.first_name}}</h3>
{% if user.user_type == 'HR' %}

<div name="recruiter" class="row recruiter container-fluid">
  <div class="top_bar">
    <a href="{% url 'company:create-comp' %}"
      ><button class="btn btn-primary">Add a company</button></a
    >
    <a href="{% url 'jobmanage:create-job' %}"
      ><button class="btn btn-primary">Create a Job Post</button></a
    >

    <a href="/users/short_listed"
      ><button class="btn btn-primary">
        Shortlisted<span class="badge badge-light">4</span>
      </button></a
    >

    <a href=""
      ><button class="btn btn-primary">
        Manage Companies<span class="badge badge-light"
          >{{request.session.no_of_company}}</span
        >
      </button></a
    >
    <a href="{% url 'jobmanage:manage-jobs' %}"
      ><button class="btn btn-primary">
        Total Jobs Posted<span class="badge badge-light"
          >{{created_posts.count}}</span
        >
      </button></a
    >
    <a href="{% url 'jobmanage:manage-applic' %}"
      ><button class="btn btn-primary">
        Manage Applicants<span class="badge badge-light"
          >{{applicants.count}}</span
        >
      </button></a
    >
  </div>

  <div class="row">
    <div class="col-md-8">

      Hampden-Sydney College in Virginia, looked up one of the more obscure
      Latin words, consectetur, from a Lorem Ipsum passage, and going through
      the cites of the word in classical literature, discovered the undoubtable
      source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
      Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in
      45 BC. This book is a treatise on the theory of ethics, very popular
      during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
      sit amet..", comes from a line in section 1.10.32. The standard chunk ofable. The generated
      Lorem Ipsum is therefore always free from repetition, injected humour, or
      non-characteristic words etc.
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Recent Applicants</h5>
          <ul style="list-style: decimal">
            {% for val in recent_app %}

            <li class="card-title">{{val.user.first_name}}</li>
            <span class="card-subtitle mb-2 text-muted"
              >{{val.job_post.job_type}}</span
            >

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="row justify-content-center" name="jobseeker">
  <p>{{user.user_type}}</p>


  <div class="row top_bar">
    <div class="col-md-12">

      <a href="{% url 'seekerbuilder:app-det' %} "
      ><button class="btn btn-primary">Update profile</button></a
        >

        <a href="{% url 'seekerbuilder:update-edu' %} " value="2">
          <button class="btn btn-primary">Education detail</button>
        </a>

        <a href="{% url 'seekerbuilder:update-exper' %} " value="3">
          <button class="btn btn-primary">Update experience</button>
        </a>
        <a href="{% url 'manageusers:get-jobs' %} " value="3">
          <button class="btn btn-primary">
            Jobs applied for<span class="badge badge-light"
              >{{applied_posts.count}}</span
            >
          </button>
    </a>
      
    </div>
    
  </div>
  <div class="row">
  <div class="col-md-6">


    <table class="table">
      <thead>
        <tr>
          <th colspan="2">
            Profile details
          </th>
        </tr>
       
      </thead>
      <tbody>
        <tr>
        
          <td><h1>{{seeker_profile.user.firstname}}</h1></td>
      
        </tr>
        <tr>
          
          <td>Resume : {{seeker_profile.resume}}</td>
         
        </tr>
        <tr>
          <thead>
            <th scope="col">
              Skills
            </th>
            <th scope="col">
              Skill level
            </th>
          </thead>
         
        </tr>
        {% for skills in seeker_profile.seekerskillset_set.all %}
        <tr>
         
          <td>{{skills.skill_set.skill_name}}</td> <td>{{skills.skill_level}}</td>
       
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  <div class="col-md-6">
    <div class="jobs_applied">
      <div class="row">
        <div class="col-md-8">
          <div class="card recent_applies">
            <div class="card-body">
              <h3>Recently applied for</h3>
              <ul style="list-style: decimal">
                {% for val in recently_applied %}
                <h5 class="card-title">{{val.job_post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{val.apply_date}}
                </h6>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% endif %} 
</div>
  {% endblock %}

