{% extends "base/base.html" %} 

{% load static %} 


{% block css %}

<link rel="stylesheet" href="{% static 'manageusers/dashboard.css' %}" />
{% endblock %} 


{% block content %}

{% if user.user_type == 'HR' %}
<div class="row">
  <div class="col-md-10">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
          <strong>{{ message }}</strong> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    </ul>
    {% endif %} 
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div name="recruiter" class="row recruiter my-3 justify-content-center">
      <div class="col-md-12 top_bar">
    
        <a href="{% url 'jobmanage:create-job' %}" class="btn btn-secondary mx-2 my-2"
          >Create a Job Post</a
        >
        <a href="" class="btn btn-secondary mx-2 my-2">
            edit profile
          </a>
      </div>
    
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h3>performance dashboard</h3>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-8 p-1">
            <div class="row">
              <div class="col-md-4 mb-3">
                <div class="card card_tiles">
                  <h5 class="card-title"><a href="{% url 'jobmanage:manage-jobs' %}">Total Jobs Posted</a></h5>
                  <p class="card-text"><span class="badge badge-primary mx-2">{{created_posts.count}}</span></p>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="card card_tiles">
                  <h5 class="card-title"><a href="{% url 'jobmanage:manage-applic' %}">Manage Applicants</a></h5>
                  <p class="card-text"><span class="badge badge-primary mx-2"
                    >{{applicants.count}}</span></p>
                </div>

              </div>
              <div class="col-md-4 mb-2">
                <div class="card card_tiles">
                  <h5 class="card-title"><a href="{% url 'jobmanage:sort-listed' %}">
                    Shortlisted
                  </a></h5>
                  <p class="card-text"><span class="badge badge-primary mx-2">4</span></p>
                </div>

              </div>
             
             
            </div>
          </div> 
          
          
          <div class="col-md-4">
            <div class="card recent_applies">
              <div class="card-body">
                <h5 class="card-title">Recent Applicants</h5>
                <ul>
                  {% for val in recent_app %}
      
                  <li class="card-title">{{val.user.first_name}}</li>
                  <span class="card-subtitle mb-2 text-muted"
                    >{{val.job_post.job_type}}</span
                  >
      
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

          <!-- row for charts and graphs  -->
      <div class="row mt-2">
        <div class="col-md-7 chart_bar mb-3">
            <div class="row justify-content-center">
              <div class="col-md-10" style="position: relative;">
              <canvas id="myChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4 chart_bar mb-3 mx-auto">
            <div class="row justify-content-center">
              <div class="col-md-10" style="position: relative;">
                <canvas id="pieChart"></canvas>
              </div>
            </div>
          </div>
      </div>


     <!-- row for tables and stuff -->
     <div class="row">
      <div class="col-md-6">


        <table class="table table-light">
          <thead class="thead-light">
            <tr>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-md-6">
       <div class="row">
        <div class="col-md-12 chart_bar" style="position: relative;">
          <canvas id="line_chart" >
                

          </canvas>
          </div>
       </div>
      </div>
    </div>
        
          

        </div>
        
      </div>


      
   
    


     



    </div>
  </div>


{% else %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}

<div class="row justify-content-center" name="jobseeker">

  <div class="row top_bar my-3">
    <div class="col-md-12">

      <a href="{% url 'seekerbuilder:app-det' %} "><button class="btn btn-primary">Update profile</button></a>

        <a href="{% url 'seekerbuilder:update-edu' %} " value="2">
          <button class="btn btn-primary">Education detail</button>
        </a>

        <a href="{% url 'seekerbuilder:update-exper' %}" value="3">
          <button class="btn btn-primary">Update experience</button>
        </a>
        <a href="{% url 'manageusers:get-jobs' %} " value="3">
          <button class="btn btn-primary">
            Jobs applied for
            <span class="badge badge-info">{{applied_posts.count}}</span>
          </button>
    </a>
      
    </div>
    
  </div>
  <div class="row">
  <div class="col-md-7">
    
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">
      
        </h5>

        <div class="row">
          <div class="col-12">
            <h4">{{request.user.first_name}}</h4>
           
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8">
            {% if request.user.seekerprofile.photo %}
              <img class="img-fluid rounded prof_pic" src="{{ request.user.seekerprofile.photo.url }}" alt="">
              {% endif %}
            <p>
              {{seeker_profile.decription}}
            </p>
            
          </div>
        </div>
        <table class="table">
          <tbody>
            <tr>
            
              <td><h1>{{seeker_profile.user.firstname}}</h1></td>
          
            </tr>
            <tr>
              <a href="{{seeker_profile.get_resume_url}}" class="btn btn-secondary">Resume</a>             
            </tr>
            <tr>
              <thead>
                <th scope="col">
                  Skills
                </th>
                <th scope="col">
                  Skill level
                </th>
              </thead>
             
            </tr>
            {% for skills in seeker_profile.seekerskillset_set.all %}
            <tr>
             
              <td>{{skills.skill_name}}</td> <td>{{skills.skill_level}}</td>
           
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6">
            <p><a href="{% url 'jobmanage:saved-jobs' %}?user={{request.user.username}}">Saved jobs </a><span class="badge badge-pill badge-primary">7</span></p>
          </div>

          <div class="col-md-6">
            <p><a href="#">Shortlisted </a><span class="badge badge-pill badge-success">7</span></p>
          </div>
        </div>
       
      </div>
    </div>
    
    
  </div>
  <div class="col-md-5">
    <div class="jobs_applied">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card recent_applies">
            <div class="card-body">
              <h3>Recently applied for</h3>
              <ul style="list-style: decimal">
                <ul class="list-group list-group-flush">
                  {% for val in recently_applied %}
                  <a href="#"> <li class="list-group-item">{{val.job_post.title}}</li></a>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{val.apply_date}}
                  </h6>
                  
                  {% endfor %}
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% endif %} 
</div>
  {% endblock %}

  {% block scripts %}
    <script src="{% static 'manageusers/js/dashboard_charts.js'%}">

    </script>
  {% endblock %}

