{% extends "base/base.html" %} 

{% load static %} 

{% block css %}



<link rel="stylesheet" href="{% static 'manageusers/home.css' %}" />

{% endblock %} 

{% block content %} 



<div class="row">
  <div class="col-md-6 message_div">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show my-3" role="alert">
            <strong>{{ message }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      </ul>
      {% endif %} 
  </div>
</div>

<div class="row jobs my-3">
  <div class="col-md-9 ">
    {% for val in jobs %}
   
    <div class="card jobs_cards my-3" >
      <div class="card-body">
        <div class="dropdown card-dropdown">
          <a href="" class="btn btn-scondary" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i></a>
           
         
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item save_job" href="#" data-job="{{val.id}}" data-user="{{request.user}}"> <i class="fas fa-save"></i> Save </a>
            <a class="dropdown-item report_job" href="#" data-job="{{val.id}}" data-user="{{request.user}}"><i class="fas fa-flag"></i> Report </a>
          </div>
        </div>
        <a href="{% url 'jobmanage:job-det' val.id %}" <h5 class="card-title card-link">
          {{val.title}}
        </h5></a>
        <div class="row">
          <div class="col-12">
            <h6 class="card-subtitle mb-2 text-muted">{{val.cmpny_name.name}}</h6>
          </div>
        </div>
        <div class="row">
          {% for address in val.joblocation_set.all%}
          <div class="col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">{{address.state}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{address.city}}</h6>
          </div>
          {% endfor %}
        </div>
        

        <h5 class="card-subtitle mb-2 text-muted">{{val.salary_start}} - {{val.salary_end}}</h5>
        <p class="card-text">{{val.job_description}}</p>
      </div>
      

      <div class="card-text ml-3">
        created_date : <h5 class="card-subtitle mb-2 text-muted">{{val.created_date}}</h5>
      </div>
    </div>
    
    {% endfor %}
  </div>
  <div class="col-md-3 my-3 mx-auto">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card recent_applicants">
          <div class="card-body">
            <h5 class="card-title">email for job alerts like this!</h5>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <button class="btn btn-primary activate-btn" data-toggle="modal" data-target="#exampleModalCenter"> Activate </button>
                </div>
                
              </div>
          </div>
        </div>
      </div>
    </div>
     
  </div>






  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Subscribe for job alerts!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-md-12">
            <input name="email_subs" type="email" data-user={{request.user.username}} class="form-control mb-3 email_sub" placeholder="youremail@xyz.com">
            <a href="#" class="btn btn-secondary sub_email">Activate </a>
          </div>
        </div>
       
      </div>  
    </div>
  </div>
</div>
</div>



<nav aria-label="pagination" class="pagination_area">
  <div class="row">
    {% if page.end_index > 0 %}
    <div class="col-sm-12 col-md-5 d-none d-md-block">
      <p>Showing {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count}}.</p>
    </div>
    {% endif %}
    {% if page.paginator.num_pages > 1 %}
    <div class="col-sm-12 col-md-7 dataTables_pager">
      <ul class="pagination">
        {% if page.has_previous %}
  
          <li class="page-item">
            <a class="page-link" data-page="1" href="?page={{ page.previous_page_number }}">
              <i class="fa fa-angle-double-left"></i>
            </a>
          </li>
          {% if page.previous_page_number > 1 %}
            <li class="page-item">
              <a class="page-link " data-page="{{page.previous_page_number}}"  href="?page={{ page.previous_page_number }}">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
          {% endif %}
  
        {% endif %}
  
        {% if page.previous_page_number > 2 %}
          <li class="page-item">
            <a class="page-link " data-page="{{page.number|add:'-2'}}" href="?{{page.number|add:'-2'}}"> {{ page.number|add:"-2" }} </a>
           </li>
          <li class="page-item">
            <a class="page-link " data-page="{{page.number|add:'-1'}}" href="?page={{page.number|add:'-1'}}"> {{ page.number|add:"-1" }} </a>
          </li>
        {% endif %}
  
        <li class="page-item active"><span class="page-link ">{{ page.number }}</span></li>
  
        {% if page.paginator.num_pages > page.number|add:"2" %}
          <li class="page-item">
            <a class="page-link " data-page="{{page.number|add:'1'}}" href="?page={{page.number|add:'1'}}"> {{ page.number|add:"1" }} </a>
          </li>
          <li class="page-item">
            <a class="page-link " data-page="{{page.number|add:'2'}}" href="?page={{page.number|add:'2'}}"> {{ page.number|add:"2" }} </a>
          </li>
        {% endif %}
  
        {% if page.has_next %}
          <li class="page-item">
            <a class="page-link " data-page="{{page.next_page_number}}" href="?page={{ page.next_page_number }}">
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
  
          <li class="page-item">
            <a class="page-link " data-page="{{page.paginator.num_pages}}" href="?page={{page.paginator.num_pages}}">
              <i class="fa fa-angle-double-right"></i>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </div>
  </nav>

<script>
  // get jobs on click 

  // $(document).ready(function () {


    
  //   $.ajax({
  //     url: "/get_jobs_ajax/",
  //     type: "GET",
  //     contentType: "application/json",
  //     dataType: "json",
  //     success: function (data) {
  //       console.log('data recieved')
  //       console.log(data);
  //     },
  //     error: function (xhr) {
  //       console.log(xhr.error);
  //     },
  //   });
  // });
</script>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/save_job.js' %}"></script>
<script src="{% static 'manageusers/js/home.js' %}"></script>
{% endblock  %}