{% extends "base/base.html" %} 

{% load static %} 

{% block css %}



<link rel="stylesheet" href="{% static 'manageusers/home.css' %}" />

{% endblock %} 

{% block content %} 

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class="{{ message.tags }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} 



<div class="row jobs justify-content-center">
  <div class="col-md-9">
    {% for val in jobs %}
    <a href="{% url 'jobmanage:job-det' val.id %}" class="card-link">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {{val.title}}
        </h5>

        <h6 class="card-subtitle mb-2 text-muted">{{val.cmpny_name}}</h6>
        <h5 class="card-title">{{val.salary}}</h5>
        <p class="card-text">{{val.job_description}}</p>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
  <div class="col-md-3">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Drop your email for more job like this!</h5>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
  </div>
</div>



<div class="pagination">
  <button>page current</button>
  <a href="/users/get_page/?page_num={{page.next_page_number}}"
    ><button>next page</button></a
  >
  <button value="{{page_num.num_pages}}">{{page_num.num_pages}}</button>
</div>

<script>
  $(document).ready(function () {
    $.ajax({
      url: "/users/get_jobs_ajax",
      type: "GET",
      contentType: "application/json",
      dataType: "json",
      success: function (data) {
        console.log(data);
      },
      error: function (xhr) {
        console.log(xhr.error);
      },
    });
  });
</script>

{% endblock %}
