{% extends "base/base.html" %} 

{% block title %} 

user registration

{% endblock %} 

{% load static %}


{% block content %}


<div class="row justify-content-center my-3">
  <div class="col-md-8">

    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="user_type">Register As</label>
          <select name="user_type" id="user_type">
            <option value="Recuriter">HR</option>
            <option value="Job_seeker">Job seeker</option>
          </select>
        </div>
      </div>
      <div class="form-row">

       
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">Address</label>
          <input name="address_street" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First name</label>
          <input name="first_name" type="text" class="form-control" id="first_name" placeholder="first name">
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">last name</label>
          <input name="last_name" type="text" class="form-control" id="last_name" placeholder="last name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="last_name">Phone number</label>
          <input name="contact_no" type="tel" class="form-control" id="last_name" placeholder="Phone number" value="">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="date">Date of birth</label>
          <input name="date_of_birth" type="date" class="form-control" id="date" value="">
        </div>

      </div>

      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input name="gender" value="Male" type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" value="Female" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label name="gender" class="custom-control-label" for="customRadioInline2">Female</label>
        </div>
      </div>
     
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input name="address_street" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input name="city" type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select name="state" id="inputState" class="form-control">
            <option value="udaipur" selected>udaipur</option>
            <option value="West bengal">West bengal</option>
            <option value="jammu and kashmir">jammu and kashmir</option>
            <option value="haryana">haryana</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input name="zip_code" type="text" class="form-control" id="inputZip">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
    <div class="row justify-content-center my-3">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="" class="btn btn-success" >Sign up with google</a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4 my-3">
            <a href="" class="btn btn-success">Sign up with linked in</a>
           </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>

{% endblock %}
