@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");

.top_bar a {
  padding: 3;
  background-color: rgb(172, 181, 192);
  border-radius: 2em;
  border: none;
  font-family: "Open Sans Condensed", sans-serif;
}

.top_bar .btn:hover {
  background-color: rgb(138, 142, 146);
}

.card {
  border-radius: 2em;
}


.recent_applies{
  margin-left: 20%;
  height: 40vh;
  box-shadow: 3px 3px grey;
}


.prof_pic{
  float: left;
}


/* Hr dashboard tiles */

.card_tiles{
  border-radius: 2%;
  cursor: pointer;
  box-shadow: 3px 3px grey;
  padding: 4%;
  height: 100%;
  overflow: hidden;
}

.card_tiles a{
  text-decoration: none;
  color: inherit;
}

.chart_bar{
  background-color: whitesmoke;
  box-shadow: 3px 3px grey;
  padding: 1%;
  border-radius: 2%;
}