{% extends "base/base.html" %} 

{% load static %}

{% block content %}

{% if contxt == 'company_contxt' %}
<div class="contain">
  <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <div id="legend">
        <legend class="">Register a Company</legend>
      </div>
      <div class="stream_choices">
        <label class="control-label" for="stream_name">stream</label>
        <select name="b_stream" id="">
          {% for val in b_stream %}
          <option value="{{val.buisness_stream_name}}">
            {{val.buisness_stream_name}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label" for="c_name">Company name</label>
        <div class="controls">
          <input
            type="text"
            id="c_name"
            name="c_name"
            placeholder=""
            class="input-xlarge"
          />
        </div>
      </div>

      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="c_descrip">Company description</label>
        <div class="controls">
          <textarea name="c_descrip" id="" cols="30" rows="10"></textarea>
          <p class="help-block">
            Please provide some insight about the company
          </p>
        </div>
      </div>

      <div class="control-group">
        <!-- Password-->
        <label class="control-label" for="estab_date">Establishment Date</label>
        <div class="controls">
          <input name="estab_date" type="date" name="estab_date" />
        </div>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label" for="company_website"
          >company_website</label
        >
        <div class="controls">
          <input
            type="url"
            id="c_website"
            name="company_website"
            placeholder=""
          />
        </div>
        <div class="controls">
          <label for="company_image">Company image</label>
          <input
            type="file"
            id="image"
            name="company_image"
            placeholder=""
            class="input-xlarge"
          />
        </div>
      </div>

      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" type="submit">Register</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

{% else %}
<div class="row">
  <div class="col-6">
    {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Congo !</strong>  {{ message }}   
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        {% endif %}
    {% endfor %}
{% endif %}
  </div>
</div>

<div class="row mx-4">
  <div class="col-8">

  <form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    <fieldset>
      {% if update %}
      <div id="legend">
        <legend class="display-2">Update Job details</legend>
      </div>
      {% else %}
      <div id="legend">
        <legend class="display-2">Create a Job Post</legend>
      </div>
      {% endif %}

      

      <!-- Username -->

      <div class="row ml-2">
        <div class="col-md-12">
          <div class="form row">
            <div class="col-2 mr-3">
              <label for="company_name"> Company </label>
              <select class="form-select" aria-label="Default select example" name="company_name">Company name
                
                {% for val in company %}
                <option value="{{val}}">{{val}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-2"><button class="btn btn-secondary" type="button"><i class="fas fa-plus-square"></i></button></div>
          </div>
          
            <fieldset>
              <legend>Job Location</legend>
              <div class="form-row ,y-2">
                <div class="col-md-10">
                  <label for="address">Street address</label>
                <textarea name="street_addr" class="form-control">{{address.address}}</textarea>
                </div>
              </div>

              <div class="form-row my-2">
                <div class="col-md-4">
                  <label for="city">City</label>
                  <input class="form-control" type="text" name="city" value="{{address.city}}" />
                </div>

                <div class="col-md-4">
                  <label for="state">State</label>
                  <input class="form-control" type="text" name="state" value="{{address.state}}" />
                </div>
              </div>
              
              <div class="form-row my-2">
                <div class="col-md-4">
                  <label for="country">Country</label>
                  <input class="form-control" type="text" name="country" value="{{address.country}}" />
                </div>

                <div class="col-md-4">
                  <label for="zip">Zip</label>
                  <input class="form-control" type="text" name="zip_code" value="{{address.zip_code}}" />

                </div>
              </div> 
            </fieldset>
          
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <label class="control-label" for="job_title">job_title</label>
            <input class="form-control" type="text" id="" name="job_title" placeholder="Job Type" class="input-xlarge">
          </div>
          <div class="col-md-6">

          </div>
        </div>
        
      
        <div class="form-row mt-3 skillDiv">
          <div class="col-md-4">
            <label class="control-label" for="job_type"></label>
              <label class="control-label" for="job_type">
                Skill name </label
              ><input
              class="form-control"
                type="text"
                name="skill_name"
                placeholder="Skill name"
              />
          </div>
          <div class="col-md-4">
            <label class="control-label" for="job_skill_name">Skill required</label>
              <select class="form-control" name="job_skill_level"> 
              <option value="beginner">beginner</option>
              <option value="intermediate">intermediate</option>
              <option value="expert">expert</option>
              </select>
         
          </select>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-secondary create_job"><i class="fa fa-plus add_job"></i></button>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-8">
            <label class="control-label" for="job_descrip">Job Description</label>
            <div class="controls">
            <textarea class="form-control" name="job_descrip" id="" cols="30" rows="10">
              {{val.job_description}}</textarea
          >
        </div>
          </div>
        </div>


        <div class="form-row mt-3">
          <div class="col-md-3">
            <label class="control-label" for="job_descrip">Salary from </label>
              <input class="form-control" type="number" name="salary_start" value="{{val.salary_start}}" />
          </div>
          <div class="col-md-3">
            <label for="to_salary"> to</label>
            <input class="form-control" type="number" name="salary_end" value="{{val.salary_end}}">
          </div>
        </div>
        
      </div>
      <div class="form-row justify-content-center my-3">
        <div class="col-4">
          <button class="btn btn-success btn-lg">Register</button>
        </div>
      </div>

  </form>
</div>
</div>
  

{% endif %} 


{% endblock %}


{% block scripts %}
 
  <script src="{% static 'js/create_job.js' %}"></script>
{% endblock  %}