{% extends "base/base.html"%} 

{% load static %}

{% block css %}

  <link rel="stylesheet" href="{% static 'job_management/job_detail.css' %}">

{% endblock %}

{% block content %} 

{% if job_det %}
<div class="row mx-3 my-3">
  <div class="col-md-8 job_contain">
    <p class="text-center display-3">{{job_det|capfirst }}</p>

    <div class="row">
      <div class="col-12">
        <a href="/users/companydetails/?id={{job_det.cmpny_name.id}}" class="job_title">
          <h1 class="display-6">{{job_det.cmpny_name.name}}</h1>
        </a>
      </div>
    </div>
    
      <div class="row">
        <div class="col-12">
          <b>{{job_det.created_date}}</b>
        </div>
      </div>
     
      
      
      <small>salary : {{job_det.salary}}</small>
      
      {% for address in job_det.joblocation_set.all %}
        <small>{{address.address}}</small>
        <small>{{address.city}}</small>
        <small>{{address.zip_code}}</small>
      {% endfor %}

      <div class="row">
        <div class="col-12">
          <p>{{job_det.job_description}}</p>
        </div>
      </div>
      {% if request.user.user_type != 'HR' %} 
      
      <!-- show apply buttons if not HR -->
      {% if not applied %}
      <div class="row">
        <div class="col-12">
          {% if job_det.direct_link %}
          <a href="{{job_det.direct_link}}">
            <button class="btn btn-primary">Apply now</button></a
          >
          {% else %}
          <a href="{% url 'jobmanage:apply-job' job_det.id %}">
            <button class="btn btn-primary">Apply now</button></a
          >
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-12">
         
            <button class="btn btn-success">Already applied</button>
          
        </div>
      </div>
      
      {% endif %} 
  {% endif %}
 
  </div>
</div>

{% else %}

<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="{{cmpny_images.images.url}}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">{{ cmpny.name}}</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endif %} 


{% endblock %}
