

.job_title {
    text-decoration: none;
    color: inherit;
}

.job_contain{
    background-color: whitesmoke;
    border-radius: 3%;
    padding: 2%;
}



.job_title:hover{
    color: inherit;
    text-decoration: none;
}